<%- include('partials/header') %>


<div class="home">
    <div>
        <h1>Welcome to my MEME Website</h1>
        <p>Inspiring others can start with a simple smile so share memes today</p>
    </div>
    <div class="links">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</div>


<%- include('partials/footer') %>