<%- include('partials/header') %>

<div class="container">
    <h1>Boom! You've found my Memes</h1>
    <h4>Word Memes</h4>
   
    <div class="my-memes">
        <p>I was born with a silver spoon nah nurse thief am</p>
        <p>If you no get money your word of affirmation na gist o</p>
        <p>100 Naira fufu na the same size as airpod</p>
        <p>2025 na me first beg you</p>
        <p>Some lecturers are devil incarnates because why will you clearly say "this won't come out in your exam" and i'm seeing it as number 1</p>
        <p>i rent apartment finish, see as months dey fly like hours</p>
        <p>Omo any food u see now, chop am oo, leave balanced diet...God will balance all the diets</p>
        <p>Wisdom, knowledge and 3 million dollars <br> i no wan understand anybody</p>
        <p>My mom wants to bake a surprise birthday cake for me and I'm the one mixing the flour.</p>
        <p>I repeat!!! Please when taking photos in the club don't capture all of us!! Some of us are church elders</p>
    </div>
    <div class="links">
        <a href="/logout">Log Out</a>
        <a href="/submit">Add your meme</a>
    </div>
    <div class="box">
        <p><%= meme %></p>
    </div>
</div>
<hr>

<%- include('partials/footer') %>