<%- include('partials/header') %>


<div class="container">
    <h1>Memes</h1>
    <p>Don't just screenshot, share them!</p>

    <form action="/submit" method="POST">
        <div class="form-group">
            <input type="text" name="meme" placeholder="Tell us a joke">
        </div>
        <button type="submit">Submit</button>
    </form>

</div>


<%- include('partials/footer') %>
